body {
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 32px;
	
}


.hero {
	padding: 250px 0;
	margin: 30px;
}


p { 
	font-size: 16px;
	

}

li {
	font-size: 16px;
	border-bottom: 5px solid red;
	
}

 img {
	 float: right; 
} 

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}
#headline {color: #ffffff;
	font-size: 60px;
	font-family: Georgia
		
}

#address {color: #000000;
	font-size: 20px;
	
}

#facilities 
{
	color: #cc5200;	
}

#grants 
{
	color: #cc5200;	
}

#hospitality 
{
	color: #cc5200;	
}

#books
{
	color: #cc5200;	
}

#web 
{
	color: #cc5200;	
}
